*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #006168;
    background-image: linear-gradient(180deg, #006168 0%, #00753b 100%); 
    border-radius: 10px;     
    border: 2px solid #ffffff;  
  }


.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile{
    display: none;
}


/*header{
    background-color: #004044;
    border-bottom: 1px solid #b3ffd3;
    padding: 70px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}*/

header{
    background-color: #004044;
    border-bottom: 1px solid #b3ffd3;
    padding: 20px 0;
}


/*.logo img{
    width: 100px;
    float: left;
}*/

.logo{
    color: #b0df09;
}

.logo h2{
    color: #b0df09;;
    font-weight: bold;
    font-size: 24px;
}

.logo h2 a{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.logo h2 a:hover{
    color: #6bd485;
    transition: 0.5s;
}

.menu{
    width: 91%; 
    text-align: right;
    float: right;
    /*padding-top: 30px;*/
}

.menu a{
    color: #b0df09;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.5s;
}

.menu a:hover{
    color: #088a3e;
    border-bottom: 1px solid #ffffff;
}

.menu .btn-menu{
    background-color: #4c8600;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color: #6bd485;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/*
    Section Main
*/

section.main{
    background-color: #006168;
    background-image: linear-gradient(180deg, #006168 0%, #00753b 100%);
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.main_cta{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.main_cta img{
    width: 100%;
    position: center;
    max-width: 450px;
    max-height: 450px;
}

.main_cta p{
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
}


section.sobre{
    padding: 40px 0;
    background-color: #e8fffa; /* tirar se bugar, foi colocado no dia 24/05*/
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre h2{
    color: #006a53;
    text-transform: uppercase;
}

.chamada-sobre p{
    font-size: 16px;
    color: #157c66;
    margin: 10px 0;
}

.conteudo-sobre{
    display: flex;
    flex-wrap: nowrap;
}

.conteudo-sobre p{
    /*width: 98%;
    margin-right: 2%;*/
    margin: 0 30px;
    text-align: justify;
    color: #254100;
}

.conteudo-sobre a{
    text-decoration: none;
    color: #02328a;
}

.conteudo-sobre a:hover{
    color: #79a4ff;
}

.conteudo-sobre span{
    display: inline block;
    width: 100%;
    margin-top: 10px;
}

.conteudo-sobre i{
    color: #447900;
}

section.aviso{
    background-color: #006168;
    background-image: linear-gradient(135deg, #006168 0%, #00753b 100%); 
    padding: 20px 0; /*20px*/
}

.aviso-single{
    width: 100%; /*31%*/
    margin-right: 0%; /*2%*/
    text-align: center;
}

.aviso-single h2{
    color: #ffffff;
    font-size: 22px; /*20px*/

}

.aviso-single p{
    color: #a0e766;
    font-size: 18px; /*16px*/
}

section.social{
    background-color: #00181a;
    padding: 20px 0; /*20px*/
}

.social-single{
    width: 100%; /*31%*/
    margin-right: 0%; /*2%*/
    text-align: center;
}

.social-single a{
    color: #07a4ff;
    text-decoration: none;
    font-size: 18px; /*16px*/
    float: center;
}

.social-single a:hover{
    color: #66a2e7;
    transition: 0.5s;
}

/* MOBILE*/

.menu-items{
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    text-align: center;
    background-color: #004044;
    border-bottom: 1px solid #ffffff;
    display: block;
    opacity: 0;
    transition: 0.6s;
}

.menu-items.show{
    opacity: 1;

}

.menu-items.hidde{
    opacity: 0;

}

.menu-items a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 150;
    margin: 5px 0;
}

.menu-items a:hover{
    color: #088a3e;
    transition: 0.5s;
}

.menu-items .btn-menu-mobile{
    background-color: #4c8600;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
}

.menu-items .btn-menu-mobile:hover{
    background-color: #6bd485;
}
/* MOBILE */



section.contato{
    padding: 40px 0;
    background-color: #e8fffa; /* tirar se bugar, foi colocado no dia 24/05*/
}

.contato-content{
    width: 100%;
    text-align: center;
}

.contato-img{
    width: 100px;
    float: center;
}

.contato-content .contato-sobre p{
    text-align: center;
    font-size: 16px;
    color: #157c66;
    margin: 10px 0;
}

.contato-content h2{
    color: #006a53;
    text-transform: uppercase;

}

.contato-content p{
    margin: 10px 30px;
    text-align: justify;
    color: #254100;
}

.contato-content a{
    text-decoration: none;
    color: #02328a;
    
}
.contato-content .btn-contato{
    background-color: #00743b;
    display: /*inline-*/block;
    text-align: center;
    padding: 8px 10px;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    /*tirar esses dois debaixo*/
    margin-left: auto;
    margin-right: auto;
}

.contato-content .btn-contato:hover{
    background-color: #06b460;
    transition: 0.5s;
}

.contato-content a:hover{
    color: #d9ff00;
}


@media screen and (max-width: 1080px){
    .menu{
        display: none;
    }

    header{
        width: 100%;
    }

    section.main{
        padding: 200px 0;

    }
    
    .main_cta img{
        max-width: 650px;
        max-height: 650px;
    }

    .main_cta p{
        font-size: 60px;
    }

    .main_cta span{
        font-size: 60px;
    }


    .logo{
        width: 40%;
    }

    .logo h2{
        font-size: 50px;
    }

    .menu-mobile{
        width: 60%;
        text-align: right;
        display: block;
    }
    .menu-mobile i{
        cursor: pointer;
        font-size: 50px;
        margin-top: 4px;
        color: #ffffff;
        margin-top: 12px;
    }

    .menu-items{
        top: 115px;
    }

    .menu-items a{
        font-size: 35px;
    }

    .conteudo-sobre p{
        width: 100%;
        margin-bottom: 20px;
    }
    .aviso-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .contato-content{
        width: 100%;
        margin-bottom: 20px;
    }
    .social-single{
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
}